@import './_variable.scss';

.pcis_container {
    width: 99%;
    min-height: 100%;
    padding: 1%;
    background: #FFF;
    margin: auto;

    .filter_employee {
        width: 100%;
    }

    .filter_lot {
        width: 100%;
    }

    .padding_none {
        padding: 0px !important;
    }

    .grid_container {
        width: 100%;
        height: auto;
        margin: 0 auto;

        table thead th {
            text-align: center;
            background: $default_bgColor !important;
            span { color: #FFF !important; } 
        }

        table, th, td { padding: 8px 4px !important; }

        table, th, td, i { 
            font-size: 11px; 
            .icon_click:hover { 
                color: red;
            }
        }

        .blind {
            background-color: #f3f3f3;
            color: #bfbfbf;
        }

        .grid_header {
            width: 100%;
            text-align: center;     
            text-transform: uppercase;  
            
            .grid_title {
                p:first-child { 
                    font-size: 1.5em; 
                    margin-bottom: 5px; 
                }
                p:nth-child(2) { 
                    font-size: 1em;
                    color: gray; 
                }
            }

            .grid_title.h1 {
                & p {
                    font-size: 3em;
                }
            }

            .grid_title.h2 {
                & p {
                    font-size: 2em;
                    padding: 20px 0;
                }
            }

            .grid_title.h2_pt2em {
                & p {
                    font-size: 2em;
                    padding-top: 20px;
                }
            }

            .grid_navigator {
                width: 100%;
                display: grid;
                grid-template-columns: 30% 70%;
                .item_header {
                    position: relative;
                    height: inherit;
                }
                .item_header:nth-child(2) {
                    text-align: right;
                    .tools {
                        position: absolute;                        
                        right: 670px;
                        i { 
                            font-size: 1.5em !important;                            
                            margin-top: 11px;
                            cursor: pointer;
                        }
                    }
                }

                .page_container {
                    position: absolute;
                    bottom: 0;
                    font-size: 11px;
                    .page_sizenumber {
                        margin: 0 5px;
                        min-width: 50px;
                    }
                }   

            }

        }

        .grid_general { table { padding: 0 !important; } } 
        
        .grid_dashboard { 
            table {
                padding: 0 !important;
            }

            div[class$="ant-table-scroll-position-left"] div[class^="ant-table-scroll"] div[class^="ant-table-header"]  {
                overflow: unset !important;
                margin-bottom: 0px !important;
            }

            li[class^="ant-pagination-total-text"], div[class^="ant-pagination-options-quick-jumper"] {
                text-transform: uppercase;
            }

            div[class^="ant-table-column-sorter"] {
                display: none;
            }

        }

        .grid_dashboard.lead {
            table tbody tr td {
                font-size: 1em;
                vertical-align: top;
            }
        }

        div[class^="ant-table-footer"] {
            padding: 0px !important;
            background: #4390DF !important;
        }

        .grid_footer {
            font-size: 11px;
            position: relative;
            opacity: 1;
    
            .footer_partition {
                width: inherit;
                display: flex;
    
                .item_footer:not(.bg_lemon ) {
                    height: 27px;
                    padding: 3px !important; 
                    border-right: 1px solid #e9e9e9; 
                    line-height: 24px;
                    color: #FFF !important;
                }
    
                .item_footer.bg_lemon,
                .item_footer.bg_option1,
                .item_footer.bg_option2,
                .item_footer.bg_option3,
                .item_footer.bg_option4 {
                    height: 27px;
                    padding: 3px !important; 
                    border-right: 1px solid #e9e9e9; 
                    line-height: 24px;
                }
    
            }
    
            .footer_partition:first-child {
                border-bottom: 1px solid #e9e9e9; 
            }
    
            .footer_partition:nth-child(2) {
                .item_footer:first-child {
                    border-right: 0px; 
                }
            }
    
        }

    }

    .grid_topup_summary {
        & tbody {
        
            tr[class$="ant-table-row-level-0"] td span[class$="ant-table-row-expanded"] {
                background-color: #f5f5dc;        
            }
            
            tr[class$="ant-table-row-level-0"] ~ tr[class$="ant-table-row-level-1"] {
                background-color: #f5f5dc;
            }

            tr[class$="ant-table-row-level-1"] td span[class$="ant-table-row-expanded"] {
                background-color: #ffbd92;            
            }
    
            tr[class$="ant-table-row-level-0"] + tr[class$="ant-table-row-level-1"] ~ tr[class$="ant-table-row-level-2"] {
                background-color: #ffbd92;            
            }

            span[class$="indent-level-1"] { padding-left: 5px !important; }
            span[class$="indent-level-2"] { padding-left: 10px !important; }
            span[class$="indent-level-3"] { padding-left: 15px !important; }
            span[class$="indent-level-4"] { padding-left: 20px !important; }
            span[class$="indent-level-5"] { padding-left: 25px !important; }
            span[class$="indent-level-6"] { padding-left: 30px !important; }
            span[class$="indent-level-7"] { padding-left: 35px !important; }
            span[class$="indent-level-8"] { padding-left: 40px !important; }
            span[class$="indent-level-9"] { padding-left: 45px !important; }
            span[class$="indent-level-10"] { padding-left: 50px !important; }

        }

        td {
            padding: 2px 5px !important;
        }
        
    }

    .shadow {
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10)
    }
        
    .panel_container {
        position: relative;
        margin-top: 5px;
        right: 5px;
        float: right;
        height: 45px;
        transition: all 0.5s;
        z-index: 1000;
        font-size: 10px;

        .panel_header {
            padding: 10px;
            background-color: $default_bgColor;
            width: 40px;
            height: 40px;
            font-weight: 300;
            letter-spacing: .00em;
            font-size: 1rem;
            line-height: 1.5rem;
            letter-spacing: .01em;
            color: #fff;
            cursor: pointer;
            text-align: left;
            text-transform: uppercase;
            transition: all 0.5s;
            
            span {
                display: none;
                .panel_iheader {
                    opacity: 0;
                }
            }
            
        }

        .panel_header:before {
            font-family: "anticon" !important;
            content: "\E670";
            color: inherit;
        }

        .panel_header:before {
            margin-left: 0px;
            font-size: 1.7rem;        
        }
      
        .panel_content {
            width: 100%;
            height: 0px;       
            color: #000;
            text-align: left;     
            margin-bottom: 5px;
            border: 1px solid rgba(209, 209, 209, 0.2);
            transition: all 0.5s;
            overflow: hidden;
            div[class^="ant-form"] label {
                font-size: 12px;
            }
        }
       
        .panel_content.open {
            height: 150px;      
            min-height: max-content;
            padding: 0 5px;    
            transition: all 0.5s;    

            .tab_tools {
                position: absolute;
                left: 130px;
                height: 32px;
                line-height: 32px;
            }

        }

        .form_container {
            height: 0px;
            width: 0px;

            .form_item {
                margin-bottom: 10px;
                opacity: 0;
                transition: visibility 0s .5s, opacity .5s linear;
            }
            
            .fix_height {
                div[class^="ant-form-item-label"], div[class^="ant-form-item-control-wrapper"]  {
                    max-height: 27px;
                }
                
            }

            .lh0 {
                div[class^="ant-form-item-control"] {
                    line-height: 0 !important;
                }
            }

            .btn_fix_pad {
                padding: 0 8px !important;
            }
         
        }
        
        .form_container.open {
            height: auto;
            width: auto;

            .form_item {
                animation: fadeIn 1.5s;
                -webkit-animation: fadeIn 1.5s;
                animation-fill-mode: forwards;
                -webkit-animation-fill-mode: forwards;
            }

        }

    }
    
    .panel_container.open {
        height: auto !important;

        .panel_header {
            width: 650px;
            min-width: 100%;
            background-color: $default_bgColor;

            span {
                display: block;
                font-weight: 500;
                animation: fadeIn 2.5s;
                -webkit-animation: fadeIn 2.5s;
                animation-fill-mode: forwards;
                -webkit-animation-fill-mode: forwards;            
                .panel_iheader {
                    opacity: 1;
                }
            }

        }
        
        .panel_header.open {
            width: 660px;
        }

        .panel_header:before {
            float: right;
            font-size: 1.2rem;
            margin-right: 5px;
            opacity: 0;
        }

        .panel_header:after {
            font-family: "anticon" !important;
            position: absolute;
            top: 10px;
            right: 0;
            content: "\E60F";
            font-size: 1.2rem;
            margin-right: 5px;
            animation: fadeIn 3.5s;
            -webkit-animation: fadeIn 3.5s;
            animation-fill-mode: forwards;
            -webkit-animation-fill-mode: forwards;
            
        }
        
        .panel_header.open.reverse:after {
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg);        
        }
        
        &.collapse_container {
            width: 660px;
            right: 0px;
            
            .collapse_filter {

                & div[class^="ant-collapse-item"]  > div[class^="ant-collapse-header"] {
                    background: $default_bgColor !important;
                    padding: 5px 35px !important;
                    color: #FFF;
                    text-align: left;
                }
            
                & div[class^="ant-collapse-item"]  > div[class^="ant-collapse-header"] > i[class="arrow"] {
                    line-height: 31px !important;
                }
                
                /*
                span[class$="ant-select-selection--multiple"] {
                    width: -webkit-fill-available;
                    max-height: 28px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
                */

                .fix_radio {
                    label[class^="ant-radio-button-wrapper"] {
                        padding: 0 9px !important;
                    }
                }
                
            }
        }

        &.collapse_container.lead {
            div[class$="ant-collapse-content-box"] {
                padding: 0px 13px !important;
            }
        }
       
    }
    
}

.ctrlTree {
    span[class$="ant-select-selection--multiple"] {
        width: 152px;
        max-width: 152px;
        max-height: 28px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    
    & ul[class^="ant-select-selection__rendered"] {
        display: inline !important;
    }

    div[class$="ant-select-selection--multiple"] {
        width: 180px;
        max-width: 180px;
        max-height: 32px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        div[class^="ant-select-selection__rendered"]:after {
            display: inline !important;
        }
    }
}

.bL { border-left: 1px solid #e8e8e8 !important; }
.bLDash { border-left: 1px dashed #FFF !important; }
.bR { border-right: 1px solid #e8e8e8 !important; }

.bLZ { border-left: 0 !important; }
.bRZ { border-right: 0 !important; }
.bRDash { border-right: 1px dashed #FFF !important; }

.f1_8 { font-size: 1.8em !important; }
.f1_7 { font-size: 1.7em !important; }
.f1_6 { font-size: 1.6em !important; }
.f1_5 { font-size: 1.5em !important; }
.f1_4 { font-size: 1.4em !important; }
.f1_3 { font-size: 1.3em !important; }
.f1_2 { font-size: 1.2em !important; }
.f1_1 { font-size: 1.1em !important; }
.f1_0 { font-size: 1em !important; }
.f_9 { font-size: 0.9em !important; }
.f_8 { font-size: 0.8em !important; }
.f_7 { font-size: 0.7em !important; }

.swapContainer {
    position: initial;
    
    .swapRollback {
        padding: 2px 8px;
        background-color: #008b8b;
        border-radius: 50%;
        float: left;
        opacity: 0;
        animation-name: bounceIn;
        animation-duration: 450ms;
        animation-timing-function: linear;
        animation-fill-mode: forwards;
        animation-delay: 1.5s;
        cursor: pointer;
        .icon {
            font-size: 0.8em !important;
            color: rgb(255, 255, 255);
        }    
    }

    .title {
        padding-top: 9px;
        position: absolute;
        margin-left: 5px;
        float: left;
        font-size: 0.6em !important;
        animation: fadeIn 0.5s;
        -webkit-animation: fadeIn 0.5s;
        animation-fill-mode: forwards;
        -webkit-animation-fill-mode: forwards;
        display: none;
    }
}

.swapContainer:hover {
    .title {
        display: inline-block;
    }
}

.strnorap {
    white-space: nowrap;
}

.address_ellipsis {
    width: 202px;
    max-width: 202px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.modal_wrapper {
    top: 10px !important;    
    
    div[class^="ant-modal-body"] {
        padding: 10px !important;
        div[class^="ant-tabs-bar"] {
            margin: 0px !important;
        }
    }

    .dock_ontop {
        position: absolute;
        z-index: 1;
        opacity: 1;
        background-color: #FFF;
        width: -webkit-fill-available;
        left: 0;
        top: 40px;
        min-height: 222px;
        max-height: 222px;
        overflow-y: hidden;	
        border: 1px solid #e8e8e8;
        padding: 10px;
    }

    .dock_ontop.closed {
        max-height: 0;
        z-index: 0;
        opacity: 0;
    }

    .header {
        display: grid;
        grid-template-columns: 30% 67%;
        div.items { width: 100% }
        div.items:not(.unset):nth-child(2) {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            .tools {
                width: inherit;
                text-align: right;
                .icon {                    
                    width: 50%;
                    font-size: 1.2em;
                    margin: 0 auto;
                    transition: all 2s ease;
                    cursor: pointer;
                }
                .icon:hover {
                    background-color: rgba(0,0,0,.65);
                    color: #FFF;
                    border-radius: 50%;
                }

                button {
                    padding: 3px 5px;
                    height: 24px;
                    line-height: 1;
                }

                button.purple {
                    background: #483d8b;
                    color: #FFF;
                }

                button.purple:hover {
                    background: #6354c5;
                    color: #FFF;
                }

            }
        }
        div.items.unset {
            display: inline;
        }
    }

    .iframe {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border: none;
    }

}

.modal_profile {
    top: -80px !important;

    div[class="ant-modal-close-x"], span[class="ant-modal-close-x"] {
        width: 40px !important;
        height: 35px !important;
        line-height: 35px !important;
    }

    div[class^="ant-modal-header"] {
        padding: 6px 12px !important;
    }

    div[class^="ant-modal-body"] { 
        background-color: #F3F4F6;
    }

}

.notice_dayleft {
    position: absolute;
    margin-right: 5px;    
    right: -12px;
    top: -20px;
}

.profile_container {
    width: 100%;
    height: 100%;
    
    .profile_partition {
        width: 100%;
        display: grid;
        // grid-template-columns: 23.33% 37.33% 38.33%;
        grid-template-columns: 35% 65%;
        grid-column-gap: 5px;
    }

    .profile_partition_col2 {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: 61.1% 38%;
        grid-column-gap: 5px;
        min-height: 350px;
        margin-top: 5px;
    }

    .profile_partition, .profile_partition_col2 {
        .profile_div { 
            position: relative; 
            .text {
                font-size: 0.8em;
            }
        }
    }
    
    .profile_piture { 
        width: 95%;
        height: 150px;
    }
     
    .profile_general {
        height: 100%;
        background-color: #FFF;

        div[class="ant-collapse-header"] {
            padding: 12px 0 12px 35px;
            font-size: 0.9em;
        }

        .profile_collapse {
            div[class^="ant-collapse-content-box"] {
                padding: 0px;
            }
        }
    }

    .profile_general.lead {
        div[class="ant-collapse-header"] {
            padding: 5px 0 5px 35px;
            font-size: 0.8em;
            text-transform: uppercase;
        }
    }

    .profile_charecter {
        width: 100%;
        height: 80%;
        display: grid;
        grid-template-rows: repeat(3, 1fr) 30px;
        font-size: 0.9em;
    }

    .profile_grid {
        height: 100%;
        display: grid;
        grid-template-rows: repeat(15, 1fr);
        .grid_item {
            font-size: 0.8em;
            line-height: 20px;
        }

        .header1 {
            background-color: #5f9ea0;
            color: #FFF;
            font-size: 0.9em !important;
            line-height: 21px;
        }

        .header2 {
            background-color: #c59f6c;
            color: #FFF;
            font-size: 0.9em !important;
            line-height: 21px;
        }

        .header3 {
            background-color: #a52a2a;
            color: #FFF;
            font-size: 0.9em !important;
            line-height: 21px;
        }

        .header4 {
            background-color: #5f5c5c;
            color: #FFF;
            font-size: 0.9em !important;
            line-height: 21px;
        }
        
        .thead {
            font-size: 0.8em !important;
            line-height: 20px;            
        }

        .thead.color1 {
            background-color: #ff8c00;
            color: #FFF;
        }

    }

    .form_container {
        font-size: 0.9em !important;
        .form_item {
            margin-bottom: 10px;
        }

        .fix_height {
            div[class^="ant-form-item-label"], div[class^="ant-form-item-label"] > label,
            div[class^="ant-form-item-control-wrapper"]  {
                max-height: 27px;
                font-size: 0.9em !important;
            }
            label[class^="ant-form label"] { font-size: 12px !important; }
        }

    }
    
    .bureau_rate { 
        font-size: 1.8em !important;
        color: #4682b4;
    }

    .ranking_score { 
        font-size: 1.8em !important;
    }

    .timelime_container {
        padding: 0px 0 0 5px;

        .timelime_division {
            width: 100%;
            display: grid;
            grid-template-columns: 50% 50%;
        }

        .timeline_title {
            width: 100%;
            height: 22px;
            font-size: 12px;
        }

        .timeline_content {
            position: relative;
            height: 300px;
            padding-top: 7px;
        }

        .avatar_icon { cursor: pointer; }
        
        // STYLE CUSTOMIZE
        div[class^="ant-timeline-item-head-custom"], div[class^="ant-timeline-item-head ant-timeline-item-head-custom"] {
            left: 12px !important;
        }

        div[class^="ant-timeline-item-head"] {
            background-color: transparent !important;
        }

        div[class^="ant-timeline-item-content"] {
            padding: 0 0 0 35px !important;
        }

        div[class^="ant-timeline-item-tail"] {
            left: 11px !important;
        }
        
        div[class^="ant-card-head"] { 
            padding: 0 3px!important;
            min-height: 0px !important;
            div[class^="ant-card-head-title"] {
                font-size: 12px !important;
                padding: 0px !important;
            }
        }

        div[class^="ant-card-body"] { 
            font-size: 12px !important;
        }

    }

    .profile_partition_col2, .timelime_container {
        div[class^="ant-card-body"] { 
            padding: 5px !important; 
        }
    }

    div[class="ant-progress-bg"] { border-radius: 0px !important; }

}

.division_container {
    width: 100%;
    height: 100%;
    position: relative;

    .details_info {
        font-size: 0.9em;

        .cust_brands {
            background: rgb(70, 130, 180);
            color: #FFF;

            button {
                padding: 0 5px;
                height: 20px;
                line-height: 20px;
                border-radius: 0px !important;
                i[class$="anticon"] { font-size: 12px; }
            }

            button[class$="ant-btn-icon-only"] {
                padding-left: 4px;
                padding-right: 4px;
            }

            button:nth-child(3) {
                color: red;
                i[class$="anticon"] { font-size: 10px !important; }
            }

        }

        .owner_brands {
            background: rgb(70, 130, 180);
            color: #FFF;
        }

    }

    div[class^="ant-card-body"] { 
        padding: 10px; 
        div[class^="ant-card-head-title"] {
            font-size: 14px !important;
        }
    }

    .division_part {
        display: grid;
        grid-template-columns: 100%;

        .division_rows {
            margin-bottom: 5px;
        }
    }
    

    .division_part1 {
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .division_part2 {
        display: grid;
        grid-template-columns: 40% 60%;       
    }

    .division_part2_2 {
        display: grid;
        grid-template-columns: 32% 68%;
    }

    .division_part3 {
        display: grid;
        grid-template-columns: 30% 70%;
    }

    .division_part4 {
        display: grid;
        grid-template-columns: 40% 60%;
    }

    .division_part5 {
        display: grid;
        grid-template-columns: 80% 20%;
    }

    .division_part6 {
        display: grid;
        grid-template-columns: 25% 75%;
    }

    .division_part1 ~ .division_part2 {
        .division_item { 
            width: 100%;
            position: relative;
        }
    }

    .division_row_part1 {
        display: grid;
        grid-template-rows: 30px 100px;
        position: relative;
        overflow: hidden;

        div:nth-child(1) { 
            font-size: 0.8em;
            line-height: 30px; 
        }

        div:nth-child(2) {
            text-align: center;
            div:nth-child(1) { 
                font-size: 2.2em;
                height: 80%; 
                line-height: 80px;
            }
            div:nth-child(2) { 
                height: 20%; 
                font-size: 0.8em !important;
            }
        }
    }

    .profile_brand {
        background: rgba(0, 0, 0, .4)
    }

    .grid_item_ellipsis {
        width: 145px;
        max-width: 145px;
        max-height: 28px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .h150 { height: 150px; }

    & .division_gap5 { grid-column-gap: 5px; }
    & .division_gap10 { grid-column-gap: 10px; }
    & .division_unset { grid-template-columns: 100% !important; }
}

.pcis_container.fullscreen {
    width: 100%;
    padding: 0%;

    table, th, td { padding: 4px !important; }

}

.division_container.h_auto {
    height: auto !important;
    min-height: 121px;
}

.division_container.npad { 
    div[class^="ant-card-body"] { 
        padding: 5px 10px 0px 10px; 
    }
}

.division_container.pad0 { 
    div[class^="ant-card-body"] { 
        padding: 0px; 
    }
}

div[class^="ant-select-dropdown"]:not(.ant-select-dropdown-hidden) {
    width: fit-content !important;
}

.employee_filter {
    div[class^="ant-select-dropdown"] {
        width: fit-content !important;
        left: 1113.53px !important;
    }
    
}

.modal_form_container {
    padding: 0 2px;

    .form_item { margin-bottom: 0px !important; }
    .fix_height {
        div[class^="ant-form-item-label"], div[class^="ant-form-item-control-wrapper"]  {
            line-height: 10px !important;
        }
    }

    span[class^="ant-input-group-addon"] {
        border: 0 !important;
        padding: 0 !important;
        label span {
            font-size: 0.8em;
        }
        
    }

}

.modal_container {
    height: 100%;

    div[class^="ant-modal"] {
        top: 0px;
        padding-bottom: 0px;
        height: 100%;
    }

    span[class="ant-modal-close-x"] {
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
        background-color: #de5d5d;
        color: #FFF;
    }
    
    div[class^="ant-modal-content"] {
        border-radius: 0px;
        height: 100%;
    }

    div[class^="ant-modal-body"] {
        width: 100%;
        height: inherit;
        min-height: 100%;
        padding: 10px;
    }

    .label_lh0 {
        & div[class="ant-form-item-label"] {
            line-height: 1 !important;
        }
    }

}

.customer_tracking_zone {

    &.in {
        display: block;
    }

    &.out {
        display: none;
    }
    
}

.lead_title {
    color: #FFF;
    background-color: #4682b4;
    padding: 5px;
}

.m0 { margin: 0 !important; }
.mt0 { margin-top: 0 !important; }
.mb0 { margin-bottom: 0 !important; }
.ml0 { margin-left: 0 !important; }
.mr0 { margin-right: 0 !important; }
.mr6  { margin-right: 60 !important; }
.mt10a0 { margin: 10px 0 0 0 !important; }
.p0 { 
    padding: 0 !important; 
    div[class^="ant-card-body"] {
        padding: 0 !important; 
    }
}
.hide { display: none; }
.bold { font-weight: bold; }
.b-rad0 { border-radius: 0px }

.wfscreen { width: -webkit-fill-available !important; }
.text_notice {font-size: 0.8em; color: #0000ff; }

.pclr1 { background-color: #cd5c5c; color: #FFF; }
.pclr2 { background-color: #5f9ea0; color: #FFF; }
.pclr3 { background-color: #e9967a; color: #FFF; }
.pclr4 { background-color: #708090; color: #FFF; }
.pclr5 { background-color: #deb887; color: #FFF; }
.pclr6 { background-color: #f0a30a; color: #FFF; }

input.lh0 {
    line-height: 0 !important;
}

.form_addhoc {
    &.mt21 { margin-top: 21px !important; }   
}

/* BACKGROUND COLOR STYLE */
.bg_transparent {background-color: $transparent;}
.bg_black {background-color: $black;}
.bg_white {background-color: $white;}
.bg_lime {background-color: $lime;}
.bg_green {background-color: $green;}
.bg_emerald {background-color: $emerald;}
.bg_teal {background-color: $teal;}
.bg_cyan {background-color: $cyan;}
.bg_cobalt {background-color: $cobalt;}
.bg_indigo {background-color: $indigo;}
.bg_violet {background-color: $violet;}
.bg_pink {background-color: $pink;}
.bg_magenta {background-color: $magenta;}
.bg_crimson {background-color: $crimson;}
.bg_red {background-color: $red;}
.bg_orange {background-color: $orange;}
.bg_amber {background-color: $amber;}
.bg_yellow {background-color: $yellow;}
.bg_brown {background-color: $brown;}
.bg_olive {background-color: $olive;}
.bg_steel {background-color: $steel;}
.bg_mauve {background-color: $mauve;}
.bg_taupe {background-color: $taupe;}
.bg_gray {background-color: $gray;}
.bg_darkGray {background:$darkGray;}
.bg_dark {background-color: $dark;}
.bg_darker {background-color: $darker;}
.bg_darkBrown {background-color: $darkBrown;}
.bg_darkCrimson {background-color: $darkCrimson;}
.bg_darkMagenta {background-color: $darkMagenta;}
.bg_darkIndigo {background-color: $darkIndigo;}
.bg_darkCyan {background-color: $darkCyan;}
.bg_darkCobalt {background-color: $darkCobalt;}
.bg_darkTeal {background-color: $darkTeal;}
.bg_darkEmerald {background-color: $darkEmerald;}
.bg_darkGreen {background-color: $darkGreen;}
.bg_darkOrange {background-color: $darkOrange;}
.bg_darkRed {background-color: $darkRed;}
.bg_darkPink {background-color: $darkPink;}
.bg_darkViolet {background-color: $darkViolet;}
.bg_darkBlue {background-color: $darkBlue;}
.bg_lightBlue {background-color: $lightBlue;}
.bg_lightRed {background-color: $lightRed;}
.bg_lightGreen {background-color: $lightGreen;}
.bg_lighterBlue {background-color: $lighterBlue;}
.bg_lightTeal {background-color: $lightTeal;}
.bg_lightOlive {background-color: $lightOlive;}
.bg_lightOrange {background-color: $lightOrange;}
.bg_lightPink {background-color: $lightPink;}
.bg_grayDark {background-color: $grayDark;}
.bg_grayDarker {background-color: $grayDarker;}
.bg_grayLight {background-color: $grayLight;}
.bg_grayLighter {background-color: $grayLighter;}
.bg_blue {background-color: $blue;}
.bg_thinLightBlue {background-color: $thinLightBlue;}
.bg_thinTeal {background-color: $thinTeal;}
.bg_redSoft {background-color: $redSoft;}
.bg_blackSoft {background-color: $blackSoft;}
.bg_lemon { background-color: $lemon; }
.bg_yellowG1 { background-color: $yellow_g1; }
.bg_orangeG1 { background-color: $orange_g1; }
.bg_pinkBrown {
    background-image: radial-gradient( circle 953px at 10% 20%,  rgba(22,79,141,1) 0%, rgba(13,16,47,1) 100.2% );
}

.bg_steelblue { 
    background-color: #4682b4;
    color: #FFF;
}
.bg_purple { background-color: #800080; }
.bg_pinkLighter {
    background: #ff5571;
    background: -moz-linear-gradient(top, #ff5571 0%, #ff6568 47%, #fe7c5b 100%);
    background: -webkit-linear-gradient(top, #ff5571 0%,#ff6568 47%,#fe7c5b 100%);
    background: linear-gradient(to bottom, #ff5571 0%,#ff6568 47%,#fe7c5b 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5571', endColorstr='#fe7c5b',GradientType=0 );
}

.bg_firebrick {
    background-color: #b22222;
    color: #FFF;
}

/* FONT COLOR STYLE */
.fg_transparent {color: $transparent;}
.fg_black {color: $black;}
.fg_white {color: $white;}
.fg_lime {color: $lime;}
.fg_green {color: $green;}
.fg_emerald {color: $emerald;}
.fg_teal {color: $teal;}
.fg_cyan {color: $cyan;}
.fg_cobalt {color: $cobalt;}
.fg_indigo {color: $indigo;}
.fg_violet {color: $violet;}
.fg_pink {color: $pink;}
.fg_magenta {color: $magenta;}
.fg_crimson {color: $crimson;}
.fg_red {color: $red;}
.fg_orange {color: $orange;}
.fg_amber {color: $amber;}
.fg_yellow {color: $yellow;}
.fg_brown {color: $brown;}
.fg_olive {color: $olive;}
.fg_steel {color: $steel;}
.fg_mauve {color: $mauve;}
.fg_taupe {color: $taupe;}
.fg_gray {color: $gray;}
.fg_dark {color: $dark;}
.fg_darker {color: $darker;}
.fg_darkBrown {color: $darkBrown;}
.fg_darkCrimson {color: $darkCrimson;}
.fg_darkMagenta {color: $darkMagenta;}
.fg_darkIndigo {color: $darkIndigo;}
.fg_darkCyan {color: $darkCyan;}
.fg_darkCobalt {color: $darkCobalt;}
.fg_darkTeal {color: $darkTeal;}
.fg_darkEmerald {color: $darkEmerald;}
.fg_darkGreen {color: $darkGreen;}
.fg_darkOrange {color: $darkOrange;}
.fg_darkRed {color: $darkRed;}
.fg_darkPink {color: $darkPink;}
.fg_darkViolet {color: $darkViolet;}
.fg_darkBlue {color: $darkBlue;}
.fg_lightBlue {color: $lightBlue;}
.fg_lightRed {color: $lightRed;}
.fg_lightGreen {color: $lightGreen;}
.fg_lighterBlue {color: $lighterBlue;}
.fg_lightTeal {color: $lightTeal;}
.fg_lightOlive {color: $lightOlive;}
.fg_lightOrange {color: $lightOrange;}
.fg_lightPink {color: $lightPink;}
.fg_grayDark {color: $grayDark;}
.fg_grayDarker {color: $grayDarker;}
.fg_grayLight {color: $grayLight;}
.fg_grayLighter {color: $grayLighter;}
.fg_blue {color: $blue;}
.fg_thinLightBlue {color: $thinLightBlue;}
.fg_thinTeal {color: $thinTeal;}
.fg_redSoft {color: $redSoft;}
.fg_blackSoft {color: $blackSoft;}
.fg_lemon { color: $lemon; }
.fg_yellowG1 { color: $yellow_g1; }
.fg_orangeG1 { color: $orange_g1; }
.fg_grayG1 { color: $gray_g1; } 

@-webkit-keyframes fadeIn {
    0% {opacity: 0.0}
    100% {opacity: 1.0}
}

@keyframes fadeIn {
    0% {opacity: 0.0}
    100% {opacity: 1.0}
}

@-webkit-keyframes fadeOut {
    0% {opacity: 1.0}
    100% {opacity: 0.0}
}

@keyframes fadeOut {
    0% {opacity: 1.0}
    100% {opacity: 0.0}
}

@keyframes bounceIn{
    0%{
      opacity: 0;
      transform: scale(0.3) translate3d(0,0,0);
    }
    50%{
      opacity: 0.9;
      transform: scale(1.1);
    }
    80%{
      opacity: 1;
      transform: scale(0.89);
    }
    100%{
      opacity: 1;
      transform: scale(1) translate3d(0,0,0);
    }
}
  