.grid_container {
    width: 100%;
    height: 100%;

    .grid_title {
        width: 100%;
        text-align: center;
        height: 50px;
        margin-top: 20px;
        font-size: 2em;
        letter-spacing: 3px;
        position: relative;
        .grid_subtitle {
            position: absolute;
            width: 100%;
            font-size: 12px;
        }
    }
    
    thead[class^="ant-table-thead" ] > tr > th {
        text-align: center !important;
    }

    li[class^="ant-pagination-total-text"] {
        visibility: hidden;
    }

    .name_ellipsis {
        width: 115px;
        max-width: 115px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

}

.grid_table {

    & table { padding: 0 !important; }

    & td {
        background-color: #FFF;
    }

    & th {
        background: #004980 !important;
        color: #FFF !important;
        vertical-align: middle !important;
    }

    th[class$="tc"] {
        text-align: center !important;
    }

    & th, td {
        padding: 5px !important;
        font-size: 12px !important;
    }

    .removeBoxShadow > sup {
        cursor: pointer;
        font-size: 9px !important;
        min-width: 15px !important;
        top: -7px;
        height: 15px;
        line-height: 17px;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
        color: #FFF;
    }

}

.page_container {
    position: absolute;
    bottom: 0;
    font-size: 12px;
    .page_sizenumber {
        margin: 0 5px;
    }
}

.search_collapse_conainer {
    width: 100%;
    margin-top: 10px;
    display: grid;    
    grid-template-columns: 40% 60%;

    .collapse_filter {

        & div[class^="ant-collapse-item"]  > div[class^="ant-collapse-header"] {
            background: #004980 !important;
            padding: 8px 40px !important;
            color: #FFF;
        }
    
        & div[class^="ant-collapse-item"]  > div[class^="ant-collapse-header"] > i[class="arrow"] {
            line-height: 37px !important;
        }

        div[class^="ant-row ant-form-item"] {
            margin-bottom: 10px !important;
        }
    
        span[class^="ant-calendar-picker-icon"] {
            display: none !important;
        }

    }

    .form_container {
        height: 0px;
        width: 0px;

        .form_item {
            margin-bottom: 10px;
            opacity: 0;
            transition: visibility 0s .5s, opacity .5s linear;
        }
        
        .fix_height {
            div[class^="ant-form-item-label"], div[class^="ant-form-item-control-wrapper"]  {
                max-height: 27px;
            }
            
        }

    }
    
}

.collapse_hist_conainer {
    margin-top: 10px;
    border-top: 1px solid #d9d9d9;

    div[class^="ant-collapse-header"] {
        padding: 12px 0 12px 20px !important;
        i[class="arrow"] {
            left: 2px !important;
        }
    }
    div[class^="ant-collapse-content "] {
        padding: 0px !important;
    }
}

.modal_wrapper {
    top: 10px !important;
    div[class^="ant-modal-body"] {
        padding: 10px !important;
        div[class^="ant-tabs-bar"] {
            margin: 0px !important;
        }
    }
   
}

.modal_tonav {
    top: -50px !important;
}

.modal_toEase90 {
    top: -90px !important;
}

.upload_container {
    height: 200px;
    background-color: #fff2d7;
    margin-bottom: 20px;
    border-radius: 15px;
    position: relative;
    z-index: 1;

    .drop_label {
        position: absolute;
        top: -20px;
        padding: 5px 10px;
        background-color: #fff2d7;
        border-radius: 10px 10px 0 0;
        z-index: 0;
    }

    .drop_handle {
        height: 200px;
        width: 100%;
        text-align: center;
        line-height: 200px;
        font-size: 4em;
        color: #ababab;
    }

}

.return_container {
    display: grid;
    width: 100%;
    grid-template-columns: 90% 10%;
    .items:nth-child(1) { 
        width: 98%;
        line-height: 30px; 
        border: 1px dashed #D1D1D1;
        border-radius: 5px;
        padding: 0 10px;
    }
    .items:nth-child(1).disable { 
        cursor: no-drop;
        background-color: #f5f5f5; 
    }
    .items:nth-child(2) { text-align: center; }    
}

.upload_tools {
    display: grid;
    width: 100%;
    grid-template-columns: 50% 50%;
    .tools:nth-child(1) { line-height: 30px; }
    .tools:nth-child(2) {
        position: relative;
        text-align: right;
        margin-bottom: 5px; 
        .badge { margin-left: 10px; }
    }    
}

.upload_wrapper {
    width: 100%;
    height: 260px;
        
    .upload_helper {
        width: 100%;
        min-height: 260px;
        background-color: #FFF; 
        border: 1px solid #D1D1D1;
        display: inline-block;
        border-radius: 10px;
        padding-left: 2px;

        li {
            padding: 6px;
            float: left;
        }

        dl {
            margin-bottom: 0px !important;
        }

        .file__name {
            color: #FFF;
            background-color: #e9967a;
            padding: 3px 0;
            margin-bottom: 5px;
            width: 170px;
            max-width: 170px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        .file__type {
            margin-bottom: 5px;
            .icon {
                font-size: 5.5em;
                color: #d45353;
                cursor: pointer;
            }
        }

    }

}

.upload_list {
    width: 170px;
    height: auto;
    min-height: 245px;
    border: 1px dashed #D1D1D1;    
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.upload_list dd > span {
    display: block;
    float: left;
    width: 100%;
}

.uploadButton {
    color: #FFF;    
    background-color: #008b8b !important;
    border-right-color: #008b8b !important;
    border-left-color: #008b8b !important;
}

.pauseButton {
    color: #FFF;
    background-color: #ffb117 !important;
    border-right-color: #ffb117 !important;
    border-left-color: #ffb117 !important;
}

.deleteButton {
    color: #FFF;
    background-color: #e9967a !important;
    border-right-color: #e9967a !important;
    border-left-color: #e9967a !important;
}

.team_conatainer {
    div[class^="ant-collapse-header"] {
        color: #FFF !important;
        line-height: 20px;
        padding: 7px 0 7px 36px !important;        
        background: #004980 !important;
        i[class="arrow"] {
            line-height: 33px !important;
        }
    }

    div[class^="ant-collapse-content-box"] {
        padding: 5px !important;
    }
}

.message_container {
    font-size: 16px;
    text-align: left;
    position: absolute;
    top: 0;
    z-index: 6;
    background: #FFF;
    width: 350px;
    padding: 10px;
    min-height: 300px;
    right: 32px;
    border: 1px solid #D1D1D1;
}

.returncode_checker {
    width: 330px;
    max-width: 330px;
    margin: 5px 0px;
}


.returncode_ellipsis {
    width: 330px;
    max-width: 330px;
    margin: 5px 0px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.container_floating {
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 30px;
    right: 30px;
    z-index: 50px;
    
    .floating_button {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: #db4437;
        position: fixed;
        bottom: 30px;
        right: 30px;
        cursor: pointer;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-name: bounce;
        animation-name: bounce;
        -webkit-transform-origin: center bottom;
        transform-origin: center bottom;
    }

    .floating_button.two_menu {
        bottom: 95px;
    }

    .floating_button.bg_white { 
        background: #FFF; 
        .menu {
            color: #757575 !important;
            font-size: 2em;
        }        
    }

    .menu {
        color: white;
        position: absolute;
        top: 0;
        display: block;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        padding: 0;
        margin: 0;
        line-height: 50px;
        font-size: 35px;
        font-weight: 300;     
    }
    
}

.mt1 { margin-top: 5px !important }
.mt2 { margin-top: 10px !important }

.ml1 { margin-left: 5px !important }
.mb1 { margin-bottom: 5px !important }

/** GENERAL CLASS **/
.margin_none { margin: 0 !important; }
.padding_none { padding: 0 !important; }
.hide { display: none !important; }
.show { display: block !important;; }


.ant-confirm-container {
    div[class="ant-modal-body"] {
        padding: 24px !important;
    }    
}

.returncode_wrapper {
    width: 100%;
    height: 600px;
    margin: 10px 0;    
    overflow: hidden;
    border: 1px solid rgb(197, 197, 197);
    position: relative;
    border-radius: 5px;

    .container {
        height: 600px;
    }

    .division_container {
        position: absolute;
        bottom: 0;
        height: 10px;
        width: 100%;
        background-color: #dcdcdc;
        z-index: 1;
    }

    .division_container.active {
        height: 300px;
        transition: all 0.5;
    }
}


.card_mod_wrapper {
    margin: 3px;

    // transform: translateX(100%);
    // -webkit-transform: translateX(100%);

    // animation: slide-in 0.6s forwards;
    // -webkit-animation: slide-in 0.6s forwards;

    // fade-in
    // opacity: 0;
    // animation: fadeIn 0.9s 1;
    // -webkit-animation: fadeIn 0.9s 1;
    // animation-fill-mode: forwards;
    // -webkit-animation-fill-mode: forwards;
 
    div[class^="ant-card-head"] {
        padding: 0px !important;
        min-height: 38px !important;
        max-height: 38px !important;  
        line-height: 38px;    
        background-color: #1890ff;
        color: #FFF;
        border-bottom: 1px solid #1890ff;
    }

    div[class^="ant-card-head-title"] {
        font-size: 14px !important;
        padding: 0 5px !important;
    }

    div[class^="ant-card-body"] {
        padding: 0px !important;
    }

    .card_partision_container {
        width: 100%;
        border-bottom: 1px solid #D1D1D1;
        padding-bottom: 7px;
        .item_title { 
            padding: 5px; 
            background-color: #faebd7;
        }
        .card_partision {
            width: 100%;
            padding-top: 5px;
            /*
            display: grid;
            grid-template-columns: 33.333% 33.333% 33.333%;           
            .item_partision {
                padding: 5px;
                text-align: center;       
                span[class^="ant-radio"] {
                    margin-bottom: 2px !important; 
                }
            }
            */
            .icon { font-size: 1.2em; }            
        }
    }

}

.card_mod_wrapper:nth-child(15n+1) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}   

.card_mod_wrapper:nth-child(15n+2) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}
.card_mod_wrapper:nth-child(15n+3) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}      
.card_mod_wrapper:nth-child(15n+4) {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}      
.card_mod_wrapper:nth-child(15n+5) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.card_mod_wrapper:nth-child(15n+6) {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}
li:nth-child(15n+7) {
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}
.card_mod_wrapper:nth-child(15n+8) {
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
}
.card_mod_wrapper:nth-child(15n+9) {
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
}
.card_mod_wrapper:nth-child(15n+10) {
    -webkit-animation-delay: 2.0s;
    animation-delay: 2.0s;
}

.replay_message {
    font-size: 1.2em !important;
    vertical-align: middle;
}

.division_half_container {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    .division_items {
        position: relative;
    }
}

.bg_base { background: #004980 !important; }
.bg_red_validation { background-color: #db4437 !important; color: #FFF !important; }
.border_error { border: 1px solid #db4437 !important; }

.tag_rm { background-color: #108ee9; color: #FFF; margin-right: 3px !important; }
.tag_ca { background-color: #87d068; color: #FFF; margin-right: 3px !important; }
.tag_ap { background-color: #db4437; color: #FFF; margin-right: 3px !important; }
.w100 { width: 100%; }

@-webkit-keyframes fadeIn {
    0% {opacity: 0.0}
    100% {opacity: 1.0}
}

@keyframes fadeIn {
    0% {opacity: 0.0}
    100% {opacity: 1.0}
}

@keyframes slide-in {
    0% {
        -webkit-transform: translateX(100%);
    }
    100% {
        -webkit-transform: translateX(0%);
    }
}
  
@-webkit-keyframes slide-in {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}
 
@keyframes slide-out {
    0% {
        -webkit-transform: translateX(0%);
    }
    100% {
        -webkit-transform: translateX(100%);
    }
}
  
@-webkit-keyframes slide-out {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(100%);
    }
}
  

@-webkit-keyframes bounce {
    0%, 20%, 53%, 80%, 100% {
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    40%, 
    43% {
      -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      -webkit-transform: translate3d(0, -30px, 0);
      transform: translate3d(0, -30px, 0);
    }
    70% {
      -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      -webkit-transform: translate3d(0, -15px, 0);
      transform: translate3d(0, -15px, 0);
    }
    90% {
      -webkit-transform: translate3d(0, -4px, 0);
      transform: translate3d(0, -4px, 0);
    }
}

@keyframes bounce {
    0%, 20%, 53%, 80%, 100% {
      -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    40%,
    43% {
      -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      -webkit-transform: translate3d(0, -30px, 0);
      transform: translate3d(0, -30px, 0);
    }
    70% {
      -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      -webkit-transform: translate3d(0, -15px, 0);
      transform: translate3d(0, -15px, 0);
    }
    90% {
      -webkit-transform: translate3d(0, -4px, 0);
      transform: translate3d(0, -4px, 0);
    }
}